version: "3.8"

services:
  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "8080:8080"

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ck
      POSTGRES_PASSWORD: ck1234
      POSTGRES_DB: einvoice
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
